In [2]:
from sklearn import linear_model

In [3]:
reg = linear_model.LinearRegression()

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("tpcc_profiling/stats.csv")

In [6]:
clv = df[df['CC_ALG'] == 'BAMBOO']

In [7]:
clv.head()

,ABORT_PENALTY,CC_ALG,CLV_RETIRE_OFF,CLV_RETIRE_ON,DEBUG_PROFILING,MAX_TXN_PER_PART,NUM_WH,SPINLOCK,THREAD_CNT,WORKLOAD,...,run_time,throughput,time_abort,time_cleanup,time_index,time_man,time_query,time_ts_alloc,time_wait,txn_cnt
0,1,BAMBOO,16,0,True,100000,16,True,16,TPCC,...,25.021875,857921.943749,0.0,2.228884,3.359098,13.418784,0.045932,0.0,0.001442,1341676
1,1,BAMBOO,16,0,True,100000,16,True,8,TPCC,...,11.766072,494164.594745,0.0,1.038814,1.690787,6.310020,0.021307,0.0,0.000429,726797
2,1,BAMBOO,16,0,True,100000,16,True,4,TPCC,...,5.424471,276457.576446,0.0,0.501098,0.754167,2.868046,0.010266,0.0,0.000099,374909
3,1,BAMBOO,16,0,True,100000,16,True,2,TPCC,...,2.383741,151931.768093,0.0,0.232393,0.313344,1.270820,0.004797,0.0,0.000011,181083
4,1,BAMBOO,16,0,True,100000,16,True,1,TPCC,...,1.199467,83370.335867,0.0,0.100002,0.171547,0.478526,0.002636,0.0,0.000000,100000

In [17]:
y = clv['debug8'].values

In [18]:
x = clv['abort_cnt'].values

In [15]:
from scipy.stats import pearsonr

In [19]:
corr, _ = pearsonr(x, y)

In [20]:
corr

0.98768922793375